<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="functional">
            <directory>functional</directory>
        </testsuite>
        <testsuite name="performance">
            <directory>performance</directory>
        </testsuite>
    </testsuites>

</phpunit>
